<div class="container">
	<hr>
	<footer class="footer mt-auto pt-3 text-center">
		<div class="row">
			<div class="col-lg-12">
				<p class="pull-right">Copyright &copy; OpenClassrooms</p>
			</div>
		</div>
	</footer>
</div>
