{% extends 'base.html.twig' %}

{% block body %}

    {% if app.user %}
    <div class="row">
        <a href="{{ path('task_create') }}" class="btn btn-success">Créer une nouvelle tâche</a>
        <a href="{{ path('task_list', {'id': app.user.id}) }}" class="btn btn-info">Consulter la liste des tâches à faire</a>
        <a href="{{ path('done_task_list', {'id': app.user.id}) }}" class="btn btn-secondary">Consulter la liste des tâches terminées</a>
    </div>
    {% endif %}
    
{% endblock %}
